VITE_APPWRITE_URL="add_your_url"
VITE_APPWRITE_PROJECT_ID="add_your_project_id"
VITE_APPWRITE_DATABASE_ID="add_your_database_id"
VITE_APPWRITE_TABLE_ID="add_your_table_id"
VITE_APPWRITE_BUCKET_ID="add_your_bucket_id"
